@charset 'utf-8';
@import  './base/reset';
@import  './base/common';

body {
    display: flex;
    justify-content: center;
    background-color: #ddd;
}

#app {
    min-width: 320px;
    width: 100%;
    max-width: 560px;
    background-color: #fff;
}